.chess-capture-box {
  width: 45vw;
  margin-left: auto;
  margin-right: auto;

  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;

  display: flex;
  flex-direction: row;
}

.chess-capture-box-headline {
  display: flex;
  flex-direction: column;

  font-size: 2vmin;
  font-weight: bold;
}

.capturedPieces {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 5vmin;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1vw;

  padding-top: auto;
  padding-bottom: auto;
  padding-left: 1.5%;
  padding-right: 1.5%;
}
.capturedPiece {
  font-size: 3.5vmin;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  height: 100%;
  text-align: center;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  height: 10vmin;
  position: relative;
  left: -65%;
  top: -20%;
  /* margin-left: -5px; */
  /* border-radius: 50%; */
}

.avatar-wrapper {
    position: relative;
    width: 6vmin;
    height: 6vmin;
    overflow: hidden;
    border-radius: 50%;
    
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}
