.control-box-container {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}

.control-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 10px;

  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;

  width: 90%;

  /* background-color: azure; */
}

.history-box {
  display: flex;
  flex-direction: column;
  height: 80%;
  margin-bottom: 2vh;
  /* padding: 1vw; */
}

.move-item {
  /* border: 1px black solid; */
  height: 3.5vh;

  display: flex;
  /* justify-content: center; */
  padding-left: 0.3vw;
  align-items: center;
}
.even {
  background-color: white;
}
.odd {
  background-color: rgb(241, 234, 234);
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  flex-direction: row;
  column-gap: 8%;
}
.new-game-btn {
  margin-left: 5px;
  margin-right: 5px;
}
.undo-btn {
  margin-left: 5px;
  margin-right: 5px;
}
.scrollable-content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.message-box {
  height: 7%;
}
#heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
#move-history-heading {
  padding-left: 0.3vw;
  padding-top: 1vh;
  font-weight: lighter;
}
.button {
  border: 1px rgb(220, 220, 220) ridge;
  box-shadow: 5px 5px 10px 1px rgb(220, 220, 220);
  border-radius: 50%;
}

.button:hover {
  background-color: rgb(185, 185, 185);
}

.room-link-box-wrapper {
  padding-top: 2vh;
  padding-bottom: 2vh;

  padding-left: auto;
  padding-right: auto;
  width: 90%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.room-link-box {
  padding-left: auto;
  padding-right: auto;
  width: 90%;

  /* display: flex;
  align-items: center;   */
}

#roomLinkTitle {
  padding-left: auto;
  padding-right: auto;
}

#roomLink {
  padding: 0.5vw;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.copy-icon {
  height: 100%;
  width: 12%;
  padding-left: 0.7vw;
  padding-top: auto;
  padding-bottom: auto;
}
