/* .chessboard {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .chessboardWrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 10%;
    display: inline-block;
    position: relative;
    height: 50%;
  }
  #dummy {
    margin-top: 100%;
  }
   */

.game-container {
  background-color: azure;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

.chessboard {
  padding-left: 12vh;
  padding-right: 12vh;

  margin-top: 5.2%;
  margin-bottom: 5%;
}
