/* .chessboard {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .chessboardWrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 10%;
    display: inline-block;
    position: relative;
    height: 50%;
  }
  #dummy {
    margin-top: 100%;
  }
   */

.game-container {
  /* background-color: azure; */
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.chessboard {
  --padding-x: 10vmin;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);

  margin-top: 2.1%;
  margin-bottom: 2.3%;
}

@media screen and (max-width: 767px) {
  .chessboard {
    /* Override the font size for extra small devices */
    --padding-x: 10vmin;
  }
}

@media only screen and (max-width: 600px) {
  .chessboard {
    /* Override the font size for small devices */
    --padding-x: 10vmin;
  }
}
@media only screen and (min-width: 600px) {
  .chessboard {
    /* Override the font size for small devices */
    --padding-x: 10vmin;
  }
}
@media only screen and (min-width: 768px) {
  .chessboard {
    /* Override the font size for large devices */
    --padding-x: 10vmin;
  }
}

@media only screen and (min-width: 992px){
  .chessboard {
    /* Override the font size for large devices */
    --padding-x: 10vmin;
  }
}

@media only screen and (min-width: 1200px) {
  .chessboard {
    /* Override the font size for large devices */
    --padding-x: 15vmin;
  }
}

@media only screen and (min-width: 1600px) {
  .chessboard {
    /* Override the font size for large devices */
    --padding-x: 20vmin;
  }
}

@media only screen and (min-width: 2500px) {
  .chessboard {
    /* Override the font size for large devices */
    --padding-x: 40vmin;
  }
}
