html, #root, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  border: 0.5px red solid;
}

.control-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: auto;
  margin-bottom: auto;
}