html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body > #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

/* * {
  border: 0.5px red solid;
} */

.app {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 10vw;
  padding-right: 10vw;

  margin: 0;
  height: 100%;
  /* padding-left: 5vw;
  padding-right: 5vw; */
}

.height-fill {
  height: 100vh;
}

/* .control-box-container {
  align-items: center;
  height: 80vh;
  margin-top: auto;
  margin-bottom: auto;
} */

.shadow-box {
  display: block;
  border: 1px rgb(220, 220, 220) ridge;
  border-radius: 8px;
  box-shadow: 5px 5px 10px 1px rgb(220, 220, 220);
}

.hidden {
  visibility: hidden;
}